<h1 class="center">Sinatra Restaurant</h1>
<div class="center card blue-grey">
  <div class="card-content white-text">
    <h3>Create A New Dish</h3>
    <a href="/dish/new" class="btn">New Dish</a>
  </div>
</div>
<div class="center card blue-grey">
  <div class="card-content white-text">
    <h3>View Dishes</h3>
    <a href="/dishes" class="btn">All Dishes</a>
  </div>
</div>