<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Sinatra Restaurant</a>
    <ul id="nav-mobile" class="right">
      <li><a href="/apps">Dishes</a></li>
      <li><a href="/apps/new">New Dishes</a></li>
    </ul>
  </div>
</nav>